.content {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (max-width: 1000px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.hidden {
    display: none;
}

#image-gallery img {
    margin: 10px;
}

@media (max-width: 1000px) {
    button {
      transform: scale(1.4);        /* visually enlarges buttons */
      transform-origin: center;     /* keeps scaling centered */
      margin: 14px;                  /* adds spacing between buttons */
      font-size: 18px !important;
      margin-left: 30px;   /* makes text more readable */
    }
  }

* {
    cursor: url("https://ani.cursors-4u.net/games/gam-16/gam1551.cur"), auto !important;
  }
  
a:hover, button:hover {
    cursor: url("https://ani.cursors-4u.net/games/gam-16/gam1536.cur"), auto !important;
}

img[src="../public/1year/0FFB2A3C-7E9A-49C7-98F1-F10FE3EBAF24_1_105_c.jpeg"]:hover {
    cursor: url("https://ani.cursors-4u.net/games/gam-16/gam1540.cur"), /* admin@fr8.so*/auto !important;
}
  
img[src="public/DSC08495 2 (1).jpeg"]:hover {
    cursor: url("https://ani.cursors-4u.net/smiley/smi-3/smi311.cur"), auto !important;
  }